@import '../colors.scss';

$purple: #8300ff;
$white: #fff;

$base-shadow: rgba(0, 0, 0, 0.12);
$shadow-from: rgba(0, 255, 30, .5);
$shadow-to: rgba(46, 204, 64, .2);
$box-shadow:  0 14px 26px -12px $shadow-from, 
              0 4px 23px 0px $base-shadow, 
              0 8px 10px -5px $shadow-to;

.Search {
    
    input[type=text] {
        font-size: 1.2em;
        text-align: center;
        padding: .5em;
        // border: solid 1px grey;
        border: none;
        border-bottom: solid 1px silver;
        border-radius: 4px;
    }

    .button-wrapper {
        padding : 20px 0;
        .button {
            padding: 15px 50px;
            text-transform: uppercase;
            background: $primary-color;
            border: 2px solid $primary-color;
            color: $white;
            font-weight: 600;
            font-size: .75rem;
            border-radius: 50px;
            cursor: pointer;

            transition: all .4s;

            &:hover {
                opacity: 0.8;
                box-shadow: $box-shadow;
            }
        }
    }
}